* {
	box-sizing: border-box;
}

body {
	background-color: gray;
}

h1 {
	color: red;
}

.element {
	color: yellow;
}

#title {
	color: blue;
}

div {
	color: orange;
}

div[title] {
	color: blue;
}

div[title='text'] {
	color: green;
}

p {
	color: teal;
	background-color: yellow;
	/*background-color: transparent;*/
	/* solid dashed dotted double groove*/
	border: 5px green outset;
	border-radius: 20px 20px 20px 20px;
	border-top-color: violet;
}

.logo {
	background-image: url(../img/main/logo.png);
	background-repeat: no-repeat;
	width: 225px;
	height: 225px;
	border: 1px solid black;
}

p {
	font-family: Arial;
	font-size: 15px;
	font-weight: normal;
	border: 0;
	border-radius: 0;
	background-color: transparent;
	/* //line-height: 20px; */
	/* //text-align: center; */
	/* //text-transform: uppercase; */
}

a {
	/* text-decoration: none; */
}

ul {
	/* list-style: none; */
}

.box {
	width: 150px;
	height: 150px;
	border: 1px solid black;
}

.box1 {
	background-color: rgb(200, 106, 106);
	/* margin: 10px 40px 20px 30px; */
	padding: 10px;
	margin: 0 0 10px 0;
}

.box2 {
	background-color: rgb(83, 136, 172);
}

button {
	cursor: pointer;
	cursor: url();
}

a:hover {
	text-decoration: none;
	color: red;
}

.menu li:nth-child(even) {
	color: green;
	text-decoration: underline;
}

table tr:nth-child(even) {
	background-color: #333333;
	color: white;
}

/* .menu li:last-child {
	color: green;
	text-decoration: underline;
} */

/* div::before {
	content: '\00A9';
	color: red;
	text-decoration: underline;
} */

.parent {
	height: 250px;
	border: 1px solid red;
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-around; */
	align-items: flex-end;
	/* flex-direction: column; */
	align-content: space-around;
}

.parent div:nth-child(3) {
	order: 0;
	/* align-self: center; */
}